<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938994434218-kqmbpjktsgnbo0e7fcglcevgc1g79rvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938994434218-kqmbpjktsgnbo0e7fcglcevgc1g79rvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAONsd0pC9SITVY0raAGNJ0B6O8_H9XUWI</string>
	<key>GCM_SENDER_ID</key>
	<string>938994434218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gonzo.TuneIn</string>
	<key>PROJECT_ID</key>
	<string>tunein-9e14d</string>
	<key>STORAGE_BUCKET</key>
	<string>tunein-9e14d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938994434218:ios:afda7469532df4bac450d3</string>
</dict>
</plist>